@import './fonts';
@import './reset';

html {
  height: 100%;
  font-size: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
}

body {
  height: 100%;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Geometria";
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1280px;
  width: calc(100vw - 60px);
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    width: 100%;
    max-width: none;
    padding: 0 20px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 18px;
  }

  @media screen and (max-width: 568px) {
    padding: 0 16px;
  }
}

.flex {
  display: flex;
}
